
body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.navbar {
  padding: 20px;
  background: #111;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
